{% for r in results %}
<tr>
    <th
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
        {{r.player__name}}
    </th>
    <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
        {{r.total}}
    </td>
    <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
        <div class="flex items-center">
            <span class="mr-2">{{ r.pct|floatformat:"0" }}%</span>
            <div class="relative w-full">
                <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                    <div style="width: {{ r.pct|floatformat:'0' }}%"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endfor %}