{% extends '_base.html' %} {% block content %}
<main>
    <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 35vh"
    >
        <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="background-image: url('/static/img/hoops-bg.png')"
        >
            <span
                id="blackOverlay"
                class="w-full h-full absolute opacity-75 bg-black"
            ></span>
        </div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">
                            When Ball is life
                        </h1>
                        <p class="mt-4 text-lg text-gray-200">
                            and your trash talkin friends spewing untruthful
                            crap but you can't remember what happend and when?
                            Use this system to keep track your friendly pickup
                            ball's Wins/Losses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
            style="height: 70px"
        >
            <svg
                class="absolute bottom-0 overflow-hidden"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                version="1.1"
                viewBox="0 0 2560 100"
                x="0"
                y="0"
            >
                <polygon
                    class="text-slate-200 fill-current"
                    points="2560 0 2560 100 0 100"
                ></polygon>
            </svg>
        </div>
    </div>

    <section class="pb-20 relative block bg-slate-200">
        <div
            class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
            style="height: 81px"
        >
            <svg
                class="absolute bottom-0 overflow-hidden"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                version="1.1"
                viewBox="0 0 2560 100"
                x="0"
                y="0"
            >
                <polygon
                    class="text-slate-200 fill-current"
                    points="2560 0 2560 100 0 100"
                ></polygon>
            </svg>
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64 pt-16">
            <div class="flex flex-wrap text-center justify-center">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold bg-slate-200">
                        Pickup Ball Leagues
                    </h2>
                </div>
            </div>
            <div class="flex flex-wrap mt-12 justify-center">
                {% for league in leagues %}
                <div
                    class="w-full lg:w-3/12 px-4 text-center shadow-xl rounded-lg bg-white p-5 m-4"
                >
                    <div
                        class="text-slate-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
                    >
                        <i class="fas fa-medal text-xl"></i>
                    </div>

                    <a href="/dashboard/{{league.slug}}">
                        <h6 class="text-xl mt-5 font-semibold text-gray-800">
                            {{ league.name }}
                        </h6>
                    </a>
                    <p class="mt-2 mb-4 text-slate-400">
                        {{ league.description }}
                    </p>
                    
                    <div class="flex justify-center py-4 lg:pt-4 pt-8">
                        <div class="mr-4 p-3 text-center">
                            <span
                                class="text-xl font-bold block uppercase tracking-wide text-slate-600"
                                >{{league.games_played}}</span
                            ><span class="text-sm text-slate-400"
                                >Games Played</span
                            >
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
